body {
    background-color: #E8F4FF;
    font-weight: bolder;
    text-align: center;
}

header {
    text-align: center;
    background-color: #003c76;
    margin: 0em;
}

.title {
    font-size: 60px;
    font-family: Helvetica;
    color: #ffe8f6;
    font-weight: lighter;
}

.slogan {
    font-size: 30px;
    color: #ffe8f6;
    font-family: serif;
    padding-bottom: 1.5em;
    font-weight: lighter;
    padding-top: 0em;
}

#names {
    display: flex;
    justify-content: space-evenly;
    font-family: Helvetica, arial, "Helvetica Neue";
}

.members {
    display: flex;
    justify-content: space-between;
}

#one, #two, #three, #four {
    size: 20%;
    width: 300px;
    height: 300px;
    border-radius: 160px;
}

.CrewPaz {
    background-image: url(photos/paz2.jpeg);
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 160px;
    border: 5px solid #A784E0;
}

#one:hover
{
    opacity: 0;
}

.CrewIria {
    background-image: url(photos/iria2.jpeg);
    background-size: cover;
    size: 20%;
    width:300px;
    height:300px;
    border-radius:160px;
    border:5px solid #A784E0;
}

#three:hover {
    opacity: 0;
}

.CrewSara {
    background-image: url(photos/sara2.jpeg);
    background-size: cover;
    size: 20%;
    width:300px;
    height:300px;
    border-radius:160px;
    border:5px solid #A784E0;
}

#two:hover
{
    opacity: 0;
}

.CrewEsther {
    background-image: url(photos/esther2.jpeg);
    background-size: cover;
    size: 20%;
    width:300px;
    height:300px;
    border-radius:160px;
    border:5px solid #A784E0;
}

#four:hover {
    opacity: 0;
}

#tools {
    text-align: center;
    color: #FFE8E8;
    background-color: #003C76;
    margin-bottom: 0%;
    font-family: 'DIN Alternate';
    font-style: bold;
}

.list {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: #978ee9;
    background-color: #E8EAFF;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
    padding-left: 5px;
    padding-bottom: 5px;
}

li:before {
    content: "-";
    padding-right: 5px;
}
.responsive-banner {
	margin: 80px auto;
	width: 40%;
	min-width: 230px;
	max-width: 330px;
	position: relative;
	height: auto;
	min-height: 300px;
	max-height: 500px;
	border-radius: 10px;
	overflow: hidden;
	background-image: linear-gradient(to bottom right, #D45BA1, #A784E0);
}

img {
	max-width : 2000px;
    height: 300px;
	width: 100%;
	position: relative;
}

#keywords {
    display: flex;
    justify-content: space-evenly;
    font-family: Helvetica, arial, "Helvetica Neue";
}

h3 {
    color: #FFB9B8;
    background-color: #003C76;
    border: 5px;
    padding: 10px;
}

footer {
    font-family: 'Bradley Hand', sans-serif;
    display: inline-flex;
    text-align: center;
}

span {
    font-family: sans-serif;
}
